{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}



    <head>
        <title>Homepage</title>
    </head>
            <div class="indexpageleft">
                <br><h1><b><i>Welcome to the one-stop FrogWatch information collection website!</i></b></h1>
                    <span>This site was create to assist <a href="https://www.aza.org/frogwatch?locale=en">FrogWatch USA</a> in their Community Conservation Initiatives.</span>
                    <span>FrogWatch USA is AZA's <a href="https://www.aza.org/citizen-science">citizen science program</a> and provides individuals, groups, and families opportunities to learn about wetlands in their communities by reporting on the calls of local frogs and toads.</span><br><br>
                <h2>Why frogs?</h2>
                    <span>Frogs and toads also play an important role, serving as both prey and predator, in wetland ecosystems and are considered indicators of environmental health. Many previously abundant frog and toad populations have experienced dramatic population declines both in the United States and around the world and it's essential that scientists understand the scope, geographic scale, and cause of these declines.</span><br><br>
                <h2>So how does this site help?</h2>
                    <span>Volunteers are trained individuals who listen for frogs and toads during evenings from February through August and submit these observations to a national online database. Currently, all observations are submitted by mail and then manually entered into the database. This is time consuming, tedious, and expensive. <b>This site allows members to easily enter their observations instantly after a watch, and neatly stores all the data for the organization to analyze.</b> </span>
                    <br><br><br><b><i><span style="color: #000000;">Register/log in to start logging your calls!</span></i></b>
            </div>
            <div class="indexpageright">
            </div>

{% endblock %}