{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}
{% block main %}

<style>
    body {
        /* I took this image */
        background-image: url('static/giantpond.jpg');
        background-size: cover;
    }
</style>
    <center><div class="boxgiant">
        <form action="/login" method="post">
            <div class="mb-3">
                <h3>Member Log In</h3>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="memberID" name="memberID" placeholder="Member ID" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <center><button class="btn btn-primary" type="submit">Log In</button></center>
        </form>
    </div></center>
{% endblock %}
