{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <head>
        <title>Monitoring Protocols</title>
    </head>
    <body>


        <div class="textprotocols">
            <h1>Data Collection Protocols</h1>
                <ul class="default">
                    <li>Select and register a site by completing the <a href="https://alliesoldau-code50-86414056-wrg6q4qpr3v4q6-5000.githubpreview.dev/surverysitereg">site registration form.</a></li>
                    <li>Plan to <b>monitor at least 30 minutes after sunset.</b> Monitoring activity should conclude by 1:00 a.m.</li>
                    <li>Consider the temperature, precipitation, and wind conditions before visiting your site. Do not monitor if severe or <a href="https://www.aza.org/weather-conditions">inappropriate weather</a> occurs or is predicted.</li>
                    <li>Upon arrival for a monitoring visit, note any changes to your site. Remember to respect the area in which you are in and minimize any disturbance.</li>
                    <li>Record all weather information asked for on the <a href="https://alliesoldau-code50-86414056-wrg6q4qpr3v4q6-5000.githubpreview.dev/logwatches">datasheet</a> including air temperature, wind speed (based on the <a href="https://www.aza.org/weather-conditions">Beaufort Wind Scale</a>), current precipitation, and weather history.</li>
                    <li>Remain quiet for at least two (2) minutes before collecting data so the frogs and toads acclimate to your presence.</li>
                    <li>When you are ready, cup your hands around your ears and <b>listen for precisely three (3) minutes.</b></li>
                    <li>Remain quiet and still during the 3-minute data collection period or the frogs and toads may stop calling if you make noise.</li>
                    <li>After 3 minutes, record:</li>
                        <ul class="customIndent">
                            <li>The time you started listening.</li>
                            <li>The time you stopped.</li>
                            <li>The different species you heard and can confidently identify.</li>
                            <li>The call intensity for each species (use the Call Intensity Index described on the datasheet).</li>
                        </ul><br>
                    <i>If your listening is interrupted by a loud noise or disturbance (e.g., airplane, cell phone ringing, etc.), restart the 2-minute acclimation period followed by the 3-minute data collection session. Remember to change the start time on the datasheet.</i>
                </ul>

            <h1>Monitoring Equiptment</h1>
            <ul class="default">
                <b>Bringing these materials to the field is important for safety and data accuracy</b><br><br>
                    <li>A copy of the FrogWatch USA protocol</li>
                    <li>A print out of the <a href="https://alliesoldau-code50-86414056-wrg6q4qpr3v4q6-5000.githubpreview.dev/surverysitereg">site registration for</a> to record in the field</li>
                    <li>A clipboard covered with plastic to protect the datasheet from inclement weather</li>
                    <li>Pencil or indelible ink pen</li>
                    <li>Flashlight</li>
                    <li>Thermometer to measure ambient temperature</li>
                    <li>Watch</li>
                    <li>Cell phone</li>
                    <li>Rain gear</li>
                    <li>Audio recording device (optional to record calls)</li>
            </ul>

            <h1>Safety Precautions</h1>
            <ul class="default">
                <b>Your safety is important. If you feel uncomfortable about your surroundings, stop monitoring and leave the site. Some common-sense precautions include:</b><br><br>
                    <li>Bring a first aid kit</li>
                    <li>Wear long sleeves and pants to protect against insects</li>
                    <li>Park in a safe location and be sure your car does not block traffic</li>
                    <li>Flashlight</li>
                    <li>Test whether your cell phone works from your monitoring site and take it with you if it does (remember to silence it while monitoring)</li>
                    <li>Become familiar with your monitoring site by visiting during daylight hours</li>
                    <li>Do not monitor if severe of <a href="https://www.aza.org/weather-conditions">inappropriate weather</a> occurs or is predicted.</li>
                    <li>Monitor with a partner and/or let someone know where you are and when you intend to return</li>
                    <li>Be aware of poison ivy and other types of poisonous vegetation as well as ticks, hornets, and other types of wildlife</li>
            </ul>
        </div>
        <div class="imageprotocols">

        </div>
    </body>
{% endblock %}